{% extends "base.html" %}
{% block content %}
<h2>Sign Up</h2>
<form method="POST">
  <input class="form-control my-2" type="text" name="name" placeholder="Your Name" required>
  <input class="form-control my-2" type="email" name="email" placeholder="Your Email" required>

  <label>Choose subjects:</label><br>
  <input type="checkbox" name="subjects" value="CSE"> CSE
  <input type="checkbox" name="subjects" value="Maths"> Maths
  <input type="checkbox" name="subjects" value="Physics"> Physics
  <input type="checkbox" name="subjects" value="English"> English
  <br><br>

  <button class="btn btn-success" type="submit">Register</button>
</form>
{% endblock %}
